{% load full_url %}

<div style="width: 820px;">
   <table width="100%">
      <tr>
         <td>
            <img src="{% full_static_url 'image/mail/top.jpg' %}" alt="" style="100%">
         </td>
      </tr>
      <tr>
         <td style="padding: 20px 0;">
            <table width="95%" align="center">
               <tr>
                  <td>
                     <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #2d5c92; font-weight: bold;">
                        Fecha: <span style="font-weight: normal; color: #87868a;">{{ contacto.fecha_contacto }}</span>
                     </p>
                     <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #2d5c92; font-weight: bold;">
                        Nombre y Apellido: <span style="font-weight: normal; color: #87868a;">{{ contacto.nombre }}
                        </span>
                     </p>
                     <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #2d5c92; font-weight: bold;">
                        E-mail: <span style="font-weight: normal; color: #87868a;">{{ contacto.email }}</span>
                     </p>
                     <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #2d5c92; font-weight: bold;">
                        Teléfono: <span style="font-weight: normal; color: #87868a;">{{ contacto.telefono }}</span>
                     </p>
                     <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #2d5c92; font-weight: bold;">
                        Consulta: <span style="font-weight: normal; color: #87868a;">{{ contacto.consulta }}</span>
                     </p>
                  </td>
               </tr>
            </table>
         </td>
      </tr>
      <tr>
         <td style="background-color: #0a2039; padding: 30px; text-align: center">
            <a href="http://www.delamo.com.ar/" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #fff; font-weight: bold; text-decoration: none">www.delamo.com.ar</a>
         </td>
      </tr>
   </table>
</div>