@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  url('fonts/bootstrap/glyphicons-halflings-regular.woff2') format('woff2'), 
  url('fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), 
  url('fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), 
  url('fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg'); 
}
.navbar-toggle {
  width:34px;
  height: 34px;
  padding: 7px 8px;
  margin-top: 30px !important;
  border-radius: 100%;
  z-index:1000;
  border: 0px solid  #fff;
  .icon-bar {
    width:100%;
    height: 3px;
    border-radius: 0;
    @include transition;
    &+.icon-bar {
      margin-top:2px;
    }
  }
  transform: rotate(-45deg);
  @include transition;
  .bar1 {
    -webkit-transform: rotate(0deg) translateY(5px);
      transform: rotate(0deg) translateY(5px);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    -webkit-transform: rotate(-90deg) translateX(5px);
      transform: rotate(-90deg) translateX(5px);
  }
}
.collapsed {
  transform: rotate(0deg);
  .bar1 {
    -webkit-transform: rotate(0deg) translateY(0px);
      transform: rotate(0deg) translateY(0px);
  }

  .bar2 {
    opacity: 1;
  }

  .bar3 {
    -webkit-transform: rotate(0deg) translateY(0px);
      transform: rotate(0deg) translateY(0px);
  }
}

.buscar {
	.form-control {
	    width: 100%;
	    height: 33px;
	}
}
.navbar-brand {
	display: inline-table;
}
.container-fluid {
  padding: {
    left: 3%;
    right: 3%;
  }
}