.circle-main {
	width: 34px;
	height:34px;
	border-radius: 100%;
	background-color: #c7c7c7;
	display: table-cell !important;
	vertical-align: middle;
	text-align: center;
	padding: inherit !important;
	line-height: 34px;
	color: #424242;
	font: {
		size: 15px;
		weight: 700;
	}

}
.circle-sec {
	width: 26px;
	height:26px;
	border-radius: 100%;
	background-color: #fff;
	display: table-cell !important;
	vertical-align: middle;
	text-align: center;
	padding: inherit !important;
	top:10px;
}
.circle-3er {
	width: 22px;
	height:22px;
	border-radius: 100%;
	background-color: #7D7D7C;
	display: table-cell !important;
	vertical-align: middle;
	text-align: center;
	padding: inherit !important;
}

.sep-main {
	width: 50px;
	height: 3px;
	background-color: #fff;
	margin: 30px 0;
}
.sep-sec {
	width: 30px;
	height: 2px;
	background-color: #446c9d;
	margin: 10px 0;
}
.volver {
	width:34px;
	height: 34px;
	padding: 7px 8px;
	margin: 25px;
	position: absolute;
	right: 30px;
	top: 1px;
}
.map-cont iframe {
    pointer-events: none;
}
.color-white {
	color:#fff;
}
.color-yellow {
	color:#ecc41f;
}