// Sticky Footer
#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -390px;
}
.push {
  height: 390px;
}
body {
	@include bgcolor-01;
}

//---//

.margin-main-big {
	margin-top: 110px !important;
}
.margin-main-medium {
	margin-top: 42px!important;
}
.margin-main-small {
	margin-top: 33px !important;
}
.margin-no {
	margin: {
		top: 0;
		bottom: 0;		
	}
}

.padding-main-big {
	padding: {
		top:20px !important;
		bottom:20px !important;
	}
}
.padding-main-medium {
	padding: {
		top:10px !important;
		bottom:10px !important;
	}
}
.padding-main-small {
	padding: {
		top:5px !important;
		bottom:5px !important;
	}
}

.padding-side-main-big {
	padding: {
		left: 20px;
		right: 20px;
	}
}
.padding-side-main-medium {
	padding: {
		left: 10px;
		right: 10px;
	}
}
.padding-side-main-small {
	padding: {
		left: 5px;
		right: 5px;
	}
}
.padding-no {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.border-top-main {
	border-top: 20px solid #ef7b94;
}
.border-top-sec {
	border-top: 1px solid #d6d6d6;
}
.border-bottom-main {	
	border-bottom: 11px solid #ecc41f;
}
.border-bottom-sec {
	border-bottom: 1px solid #c1c1c2;
}
.border-bottom-01 {
	border-bottom: 8px solid #fccf1d;
}
.border-left-main {
	border-left: 3px solid #fff;
}
.border-main {
	border: 3px solid #fff;
}
.border-sec {
	border: 1px solid #d6d6d6;
}
.border-no {
	border: none !important;
	border-radius: inherit;
}
.border-radius {
	border-radius: inherit;
}

.bg-main {
	background-color: #13b6ac;
}
.bg-sec {
	background-color: #424242;
}
.bg-01 {
	background-color: #009fb4;
}

.img-center {
  display: inherit !important;
  margin: auto;
}

.img-right {
  display: inherit !important;
  margin:0 0 0 auto;
}
.img-full-width {
	width: 100%;
	height: auto;
}

a {
	@include transition;
}

.full-width {
	width: 100%;
}

.fix-align-left-center {
	text-align: left;
}

.min-height-main {
	min-height: 260px;
}

