footer {
	@include bgcolor-01;
	min-height: 390px;
	padding: 20px 0;
	.form-control {
		background-color: transparent;
		color:#fff;
		border: none;
		border-bottom: 2px solid #fff !important;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding: 0;
		&:focus {
		    border-color: transparent;
		    outline: 0;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		    border-bottom: 2px solid #fff;
		}
	}
}