header {
	background-color: #fff;
	#nav.affix {
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index:10;
	}
	.navbar {
		padding: {
			left: 10px;
			right: 10px;
		}
	}	
	.sep {
		width: 12px;
		height: 8px;
		@include bgcolor-01;
		z-index: 1000;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    opacity: 0;
	    @include transition;

	}
	.page-scroll:hover, .active {
		.sep {
			opacity: 1;
		}	
	} 
}