@media screen and (max-width: 992px) {    
   
}

@media screen and (max-width: 768px) {
	header {
		#nav.affix-top {
		    position: fixed !important;
		    top: 0 !important;
		    width: 100% !important;
		    z-index:10 !important;
		}	
	}
	.responsive {
	    img {
	        height: 200px;
	        width: auto;
	    }
	}
	.fix-scroll-nav:before {
		margin-top: -100px !important;
		height: 100px !important;	
	}
}