@mixin transition {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

@mixin transport {
    moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin display-table {
    width: 100%;
    display: table;
    table-layout: fixed;    
}

@mixin drop-shadow {
    -webkit-filter: drop-shadow(0px 0px 8px #222);
    -moz-filter: drop-shadow(0px 0px 8px #222);
    -ms-filter: drop-shadow(0px 0px 8px #222);
    -o-filter: drop-shadow(0px 0px 8px #222);
    filter: drop-shadow(0px 0px 8px #222);
}

@mixin bgcolor-main {
    background-color: #ecc41f;
}

@mixin bgcolor-sec {
    background-color: #363636;
}

@mixin bgcolor-01 {
    background-color: #152e3e;
}

@mixin bgcolor-02 {
    background-color: #ecc41f;
}

@mixin color-main {
    color:#ecc41f;
}

@mixin color-sec {
    color:#363636;
}

@mixin color-01 {
    color:#22333e;
}

@mixin font-main {
    font: {
        family: 'Roboto', sans-serif;
    }
    -webkit-font-smoothing: antialiased;
}

@mixin font-sec {
    font: {
        family: 'bira';
    }
    -webkit-font-smoothing: antialiased;
}

@mixin font-01 {
    font: {
        family: "gotham_black";
    }
    -webkit-font-smoothing: antialiased;
}