.responsive-slider .slider-control {
  position: absolute;
  font-size: 20px;
  top: 45%;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.9);
  background-color: transparent;
}
.responsive-slider .slider-control.left {
  left: 0;
  padding-left: 10px;
  -webkit-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 6px 6px 0px;
  font-family: 'flexslider-icon';
}
.slider-control.left::before {
  content:"\f001";
}
.responsive-slider .slider-control.left:hover {
  text-decoration: none;
  padding-left: 10px;
}
.responsive-slider .slider-control.right {
  right: 0;
  padding-right: 10px;
  -webkit-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
  font-family: 'flexslider-icon';
}
.slider-control.right::before {
  content:"\f002";
}
.responsive-slider .slider-control.right:hover {
  text-decoration: none;
  padding-right: 10px;
}
.responsive-slider {
  li {      
    width: 100%;
  }
}
header {
  .responsive-slider {
    .image-bg {
        max-width: none !important;
        min-height: 500px;
    }
    li {
      overflow:hidden;
      position:relative;
      width: 100%;
    }
    .info-cont  {
      position: absolute;
      top: 8%;
      left: 0;
      right: 0;
      padding: 2% 2% 1.5% 2%;     
      text-align: center;
    }    
    .info-cont-2  {
      position: absolute;
      bottom: 8%;
      left: 0;
      right: 0;
      padding: 2% 2% 1.5% 2%;     
      text-align: center;
    }
    h1 {
      @include font-01;
      font: {
        size: 105px;
      } 
    }
    h2 {
      @include font-sec;
      font: {
        size: 57px;
      } 
      @include color-main;
    }
    h5 {
      @include font-01;
      font: {
        size: 26px;
      }
    }
  }
  .slide-02 {
    .info-cont {
      text-align: left;
      top: 5%;
      left: 5%;
    }
    h1 {
      @include font-01;
      font: {
        size: 75px;
      } 
    }
    h5 {
      @include font-main;
      font: {
        size: 54px;
        weight: 400; 
      }
    }
  }
}
