section {	
	background-color: #fff;
	.bg-main {
		@include bgcolor-01;
		display: table;
		height: 100%;
		width: 100%;
		padding: 30px;
	}
	.bg-sec {
		@include bgcolor-02;
		display: table;
		height: 100%;
		width: 100%;
		padding: 30px;
	}
	.fix-scroll-nav:before {
		display: block;
		content: " ";
		margin-top: -140px;
		height: 140px;
		visibility: hidden;		
	}
}