.mayusc {
  text-transform: uppercase;
}
.strong {
	font: {
		weight: bold;
	}
}
.cursive {
	font: {
		style: italic;
	}
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
    padding: 2px 0;
    white-space: normal;
}
h1 {
	@include font-01;
	font: {
		size: 45px;
	}
	@include color-main;
}
h2 {
	@include font-01;
	font: {
		size: 63px;
	}
	color:#ef7b94;
}
h3 {
	@include font-sec;
	font: {
		size: 23px;
		weight: 400;
	}
	@include color-main;
}
h4 {
	@include font-sec;
	font: {
		size: 18px;
		weight: 400;
	}
	@include color-main;
}
h5 {
	@include font-main;
	font: {
		size: 18px;
		weight: 700;
	}
	@include color-main;
}
h6 {
	@include font-main;
	font: {
		size: 22px;
		weight: 700;
	}
	@include color-01;
}
p {
	@include font-main;
	font: {
		size: 15px;
		weight: 400;
	}
	line-height: 17px;
	@include color-sec;
}
