$font-family-sans-serif: 'Roboto', sans-serif;

$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

@import "bootstrap/variables";


$navbar-default-bg:               rgba(255, 255, 255, 0.9);
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         40px;
