@import "reset";

@each $font-face in bira, gotham_black {
    @font-face {
          font-family: $font-face; font-style: normal; font-weight: normal;
          src: url('fonts/#{$font-face}.eot');
          src: url('fonts/#{$font-face}.eot?') format('eot'),
               url('fonts/#{$font-face}.woff') format('woff'),
               url('fonts/#{$font-face}.ttf')  format('truetype'),
               url('fonts/#{$font-face}.svg')  format('svg');
          font-weight: normal;
          font-style: normal;
    }
}

@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");


@import "variables";
@import "bootstrap";
@import "mixins";

@import "responsive-slider";
@import "slick";
@import "slick-theme";
@import "fix-height";
@import "section";
@import "form";
@import "estructura";
@import "texto";
@import "elementos";
@import "header";
@import "footer";
@import "bootstrap-custom";
@import "mediaquery";

