{% load static from staticfiles %}
<div class="row galeria-cont">
   <div class="col-xs-12 col-sm-11 col-sm-offset-1">
      <div class="responsive-slider">
         <div class="responsive">
            {% for imagen in galeria.all %}
            <div class="item text-center">
               <a class="btn border-no padding-no thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="{{ imagen.titulo }}" data-caption="{{ imagen.descripcion_corta }}" data-image="{{ imagen.imagen.url }}" data-target="#image-gallery">
                  <div class="img-cont padding-main-medium">
                     <img src="{{ imagen.imagen.url }}" alt="" class="img-responsive img-center">
                  </div> 
                  <div class="plus">
                     <i class="fa fa-plus fa-2x"></i>
                  </div>
               </a>                           
            </div>
            {% endfor %}                    
         </div>
         <div class="paginator hidden-xs">
            <ul>
               <li class="prev"><i class="fa fa-arrow-left fa-lg"></i></i></li>
               <li class="next"><i class="fa fa-arrow-right fa-lg"></i></li>
            </ul>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">                  
                      
                      <div class="row">
                        <div class="col-xs-6">
                           <h5 class="modal-title" id="image-gallery-title"></h5>
                        </div>
                         <div class="col-xs-6 text-right">
                            <div class="btn-group">                    
                              <button type="button" class="btn btn-success" id="show-previous-image"><i class="fa fa-chevron-left color-white"></i></button>
                              <button type="button" id="show-next-image" class="btn btn-success"><i class="fa fa-chevron-right color-white"></i></button>
                              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times color-white"></i></button>                  
                           </div>
                         </div>
                      </div>
                  </div>
                  <div class="modal-body" >
                      <img id="image-gallery-image" class="img-responsive" src="">
                  </div>
                  <div class="modal-footer">
                      <div class="col-xs-12 text-justify" id="image-gallery-caption">
                          This text will be overwritten by jQuery
                      </div>
                  </div>
              </div>
          </div>
      </div>