{% load i18n %}
{% load static from staticfiles %}
<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
   <head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <title>Délamo</title>

      <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'app.css' %}">
   </head>
   <body>
      <div id="page">
         <header>
            {% block extrahead %}
            {% endblock %}
            <div id="nav-wrapper">
               <div id="nav">
                  <nav class="navbar navbar-default navbar-static-top">
                     <div class="container-fluid ">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                           <span class="sr-only">Desplegar navegación</span>
                           <span class="icon-bar bar1"></span>
                           <span class="icon-bar bar2"></span>
                           <span class="icon-bar bar3"></span>
                           </button>
                           <a class="navbar-brand" href="#">
                              <img src="{% static 'image/header/logo.png' %}" alt="">
                           </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                 
                           <ul class="nav navbar-nav navbar-right padding-main-big">
                              <li><a href="#que" class="mayusc page-scroll"><span class="sep hidden-xs"></span>Que?</a></li>
                              <li><a href="#quien" class="mayusc page-scroll"><span class="sep hidden-xs"></span>Quien?</a></li>
                              <li><a href="#como" class="mayusc page-scroll"><span class="sep hidden-xs"></span>Como?</a></li>
                              <li><a href="#galeria" class="mayusc page-scroll"><span class="sep hidden-xs"></span>Galeria de Fotos</a></li>
                              <li><a href="#contacto" class="mayusc page-scroll"><span class="sep hidden-xs"></span>Contacto</a></li>
                           </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                     </div>
                     <!-- /.container-fluid -->
                  </nav> 
               </div>
            </div>         
         </header>
         <section class="padding-main-medium padding-side-main-medium">
            {% block content %}
            {% endblock %}         
         </section>
         <div class="push"></div>
      </div>      
      <footer>
         <div class="fix-scroll-nav" id="contacto"></div>
         <div class="container">
            <div class="row">
               <div class="col-xs-12 col-sm-4 padding-main-medium">
                  <h1 class="color-white">
                     Contacto
                  </h1>
                  <div class="row">
                     <div class="col-xs-12 padding-main-small">                        
                     </div>
                  </div>
                  <p class="color-white">
                     Solicite su presupuesto si tiene la información y medidas del amoblamiento que necesita, sino puede ingresar su información y nos comunicaremos a la brevedad.
                  </p>                  
               </div>
               <div class="col-xs-12 col-sm-8 padding-main-medium">
                  <form action="{% url 'index' %}" class="form-vertical"  id="consulta-form" method="POST">
                      {% csrf_token %}
                     <div class="form-group padding-main-small margin-no">
                        {{ form.nombre }}
                     </div>
                     <div class="form-group padding-main-small margin-no">
                        {{ form.email }}
                     </div>
                     <div class="form-group padding-main-small margin-no">
                        {{ form.telefono }}
                     </div>
                     <div class="form-group padding-main-small margin-no">
                        {{ form.consulta }}
                     </div>                     
                     <div class="form-group padding-main-medium margin-no">
                        <button type="submit" class="btn btn-default btn-lg enviar">ENVIAR</button>
                     </div>
                      {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                              <strong>Error!</strong> Alguno de los campos ingresados son incorrectos.                
                           {{ form.errors }}
                        </div>
                      {% endif %}
                      {% if messages %}                
                         <div class="alert alert-success alert-dismissible" role="alert">
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                           <strong>ENVIO CORRECTO!!!</strong><br>
                           {% for message in messages %}{{ message|safe|linebreaksbr }}
                           {% endfor %}
                         </div>  
                      {% endif %}                                                                                                              
                  </form>
               </div>
            </div>
         </div>
      </footer>
   </body>
   <script type="text/javascript" src="{% static 'app.js' %}"></script>
   <script type="text/javascript">
      require('scripts/base');
   </script>
</html>