{% extends 'inmecarpvc2/base.html' %}
{% load static from staticfiles %}

{% block extrahead %}
<div class="responsive-slider border-bottom-main hidden-xs" data-spy="responsive-slider" data-interval="8000" data-autoplay="true">
   <div class="slides" data-group="slides">
      <ul>
         <li class="text-center">
            <div class="slide-body center slide-01" data-group="slide">
               <img src="{% static 'image/header/slider/01.jpg' %}"  class="image-bg expand">
               <div class="info-cont" data-animate="slideAppearDownToUp" data-delay="300" data-length="300">  
                  <h2>Amoblamientos</h2>
                  <h1 class="mayusc color-white">de diseño</h1>
                  <img src="{% static 'image/header/texto01.png' %}" alt="" class="img-responsive img-center">
               </div>
               <div class="info-cont-2 text-center" data-animate="slideAppearLeftToRight" data-delay="300" data-length="300">  
                  <h5 class="mayusc color-white">Cocinas . Baños . Placards . Vestidores . Living . Mobiliario comercial</h5>
               </div>
            </div>
         </li>
         <li class="text-center">
            <div class="slide-body center slide-02" data-group="slide">
               <img src="{% static 'image/header/slider/02.jpg' %}"  class="image-bg expand">
               <div class="info-cont text-left" data-animate="slideAppearLeftToRight" data-delay="300" data-length="300">  
                  <h5 class="color-white padding-main-small">La mejor <span class="color-yellow">Calidad</span> para <br>nuestros amoblamientos</h5>
                  <h1 class="mayusc color-white">
                     Precisión, <br>
                     Estructura, <br>
                     Materiales <br>
                     y Diseño.
                  </h1>                  
               </div>
            </div>
         </li>
      </ul>
   </div>
   <a class="slider-control left" href="#" data-jump="prev"></a>
   <a class="slider-control right" href="#" data-jump="next"></a>   
</div>
{% endblock %}
{% block content %}
   <div class="container-fluid">
      <div class="row">
         <div class="row-height">
            <div class="col-xs-12 col-sm-6 padding-main-medium col-sm-height col-sm-top fix-scroll-nav" >
               <div class="fix-scroll-nav" id="que"></div>
               <div class="bg-main padding-main-big padding-side-main-big">
                  <h1 class="color-white">
                     Que?
                  </h1>
                  <div class="row">
                     <div class="col-xs-12 padding-main-small">                        
                     </div>
                  </div>
                  <p class="color-white padding-main-medium">
                     Diseñamos y fabricamos todo tipo de amoblamiento a medida <br><br>
                     <span class="mayusc">                     
                        Muebles de Cocina <br>
                        - <br>
                        Placares y Vestidores <br>
                        - <br>
                        Bibliotecas y Muebles de TV <br>
                        - <br>
                        Muebles de Baño <br>
                        - <br>
                        Muebles de Oficina <br>
                        - <br>
                        Mobiliario Comercial
                     </span>
                  </p>
               </div>
            </div>
            <div class="col-xs-12 col-sm-6 padding-main-medium col-sm-height col-sm-top fix-scroll-nav">
               <div class="fix-scroll-nav" id="quien"></div>
               <div class="bg-sec padding-main-big padding-side-main-big">
                  <h1 class="color-white ">
                     Quien?
                  </h1>
                  <div class="row">
                     <div class="col-xs-12 padding-main-small">                        
                     </div>
                  </div>
                  <p class="padding-main-medium">
                     Délamo es un emprendimiento personal el cual se desarrolla en un ambiente directo con el cliente. Mi nombre es José Luis y soy la persona quien va a trabajar en el diseño y fabricación del amoblamiento que Usted necesita. <br><br>
                     El desarrollo del amoblamiento de diseño surge como una expresión a mi forma de trabajar con precisión y buscando la mejor calidad. Por lo tanto mi objetivo es:
                  </p>
                  <h6 class="padding-main-medium">
                     Brindar al cliente satisfacción en la organización y optimización de los espacios y ambientes, mediante el diseño de amoblamientos a medida de calidad que le permita su desarrollo y comodidad.
                  </h6>
               </div>
            </div>
         </div>         
      </div>
      <div class="row margin-main-medium fix-scroll-nav" id="como">
         <div class="col-xs-12 padding-main-medium">
            <h1>
               Como?
            </h1>
            <div class="row ">
               <div class="col-xs-12 col-sm-6 padding-main-medium margin-main-small">
                  <p>
                     Trabajo de forma personal con el cliente según sus necesidades y gusto de diseño, colores, materiales y formas. Estamos en constante incorporación de nuevas tecnologías, materiales y accesorios para el amoblamiento. <br><br>
                     Nuestras normas básicas y recomendaciones para el desarrollo y fabricación del amoblamiento
                  </p>
               </div>
               <div class="col-xs-12 col-sm-6 padding-main-medium margin-main-small">
                  <img src="{% static 'image/section/img01.jpg' %}" alt="" class="img-responsive img-center">
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12 col-sm-6 padding-main-medium margin-main-small">
                  <h5 class="mayusc padding-main-medium">
                     Precisión
                  </h5>
                  <p class="padding-main-small">
                     Es fundamental ser estrictamente preciso en las medidas no solo para una buena estética y terminación sino para garantizar su vida útil.
                  </p>
                  <h6 class="padding-main-small">
                     Una puerta cruzada que cierra mal, un cajón desalineado que se traba, un mueble desnivelado es lo que genera el mal uso y la corta vida útil del amoblamiento.
                  </h6>
               </div>
               <div class="col-xs-12 col-sm-6 padding-main-medium margin-main-small">
                  <h5 class="mayusc padding-main-medium">
                     Estructura
                  </h5>
                  <p class="padding-main-small">
                     Es importante que el amoblamiento cuente con una estructura propia y firme que le permite una escuadra perfecta para mantener su propio peso y contenido. El diseño de una estructura en su interior permite garantizar la vida útil del amoblamiento.
                  </p>
                  <h6 class="padding-main-small">
                     Se recomienda hacer terminaciones básicas en los lugares donde se ubica el mueble e invertir en una buena estructura del amoblamiento, con base, techo, piso y puertas que va a cubrir cualquier imperfección de la pared y le va a dar una mayor estructura y vida útil a su amoblamiento.
                  </h6>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12 col-sm-6 padding-main-medium margin-main-small">
                  <h5 class="mayusc padding-main-medium">
                     DISEÑO
                  </h5>
                  <p class="padding-main-small">
                     Cuando hablamos de diseño no solo nos referimos a la parte estética que va a ser muy personal y estar sujeta al estilo, colores y materiales que se utilicen, sino a la organización, optimización de los espacios internos y externo, apertura de las puertas, ubicación de los módulos que nos dan la comodidad y satisfacción del amoblamiento.
                  </p>
                  <h6 class="padding-main-small">
                     Las aperturas de las puertas de un mueble le da el acceso al mismo y es fundamental al momento del diseño y está sujeto a los espacios exteriores y tránsito de los ambientes que contiene el amoblamiento.
                  </h6>
               </div>
               <div class="col-xs-12 col-sm-6 padding-main-medium margin-main-small">
                  <h5 class="mayusc padding-main-medium">
                     Materiales
                  </h5>
                  <p class="padding-main-small">
                     La calidad de los materiales, como la melamina, enchapados, herrajes y accesorios son esenciales para lograr un amoblamiento de calidad. Por eso siempre recomendamos las primeras marcas y proveedores para obtener la mejor calidad, manteniendo la relación de costos y beneficio.
                  </p>
                  <h6 class="padding-main-small">
                     Recomendamos melaminas de MDF que son más resistentes, precisas y dan excelente terminación y estructura a nuestro amoblamiento para una mayor vida útil. 
                  </h6>
               </div>
            </div>
         </div>
      </div>
      <div class="row margin-main-medium fix-scroll-nav" id="galeria">
         <div class="col-xs-12 col-sm-3">
             <h1>
               Galería <span class="hidden-xs"> <br></span>de imágenes
            </h1>
            <div class="row">
               <div class="col-xs-12 padding-main-small">                        
               </div>
            </div>
            <p class="padding-main-medium">
               Délamo es un emprendimiento personal el cual se desarrolla en un ambiente directo con el cliente. Mi nombre es José Luis y soy la persona quien va a trabajar en el diseño y fabricación del amoblamiento que Usted necesita. <br><br>
               El desarrollo del amoblamiento de diseño surge como una expresión a mi forma de trabajar con precisión y buscando la mejor calidad.
            </p>
         </div>
         <div class="col-xs-12 col-sm-9">                   
         </div>
      </div>
   </div>
{% endblock %}